*, *:before, *:after {
	box-sizing: border-box;
	transition: all 0.3s ease-in-out;
 overflow-x: none;
}
@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat.ttf');
}

@font-face {
	font-family: 'Open Sans';
	src: url('OpenSans.ttf');
}
@font-face {
	font-family: 'Quicksand';
	src: url('Quicksand.ttf');
}
@font-face {
	font-family: 'Roboto';
	src: url('Roboto.ttf');
}
@font-face {
	font-family: 'Work Sans';
	src: url('Worksans.ttf');
}
@font-face {
	font-family: '{Poiret One}';
	src: url('PoiretOne.ttf');
}
@font-face {
	font-family: 'Righteous';
	src: url('Righteous.ttf');
}
header{
  position: fixed;
  width:100%;
  top:0;left:0;
  background-color: rgba(236, 240, 241,0.6);
  z-index:42424242;
  color: black;
}


header a{
  position: relative;
  text-decoration: none;
  font-family:'Roboto',verdana;
  color: black;
  display: inline-block;
  float:right;
  padding:20px;

}
header a:after {
	content: "";
	position: absolute;
  top:0;right:50%;left:50%;
bottom: 0;

	height: 5px;
	-webkit-transition: all 0.3s ease-in-out;
	background: black;
	opacity: 0;
}

header a:hover:after {
	opacity: 1;
  left:0;right:0;

}


header logo,nav{
  display: inline-block;
}
logo{
  margin-left: 10%;
}
logo img,p{
  display: inline-block;
}
logo p{
    position: relative;
    top: -15px;
    left:10px;
    font-family:'Righteous',verdana;
    font-size: 1.5pc;

}
nav{
  float: right;
}
.main{
  z-index:1;
 width:102%;
  position: relative;
  margin-left: -10px;
  top:-0.5pc;
  color: black;
  font-family: 'Poiret One',verdana;
  background: url('main.jpg');
  background-size: cover;
  background-attachment:fixed;
  background-repeat: no-repeat;
  color: white;
  opacity:0;
  transform:translateY(-300px);
  transition:all 2s ease-in-out;

}
.main.is-showing{
  opacity:1;
  transform:translateY(0px);
}
section h1{
  position: relative;
  top:2pc;
  margin-left: 5%;
  font-size: 5pc;
  font-family: 'Montserrat',verdana;

}
section p{
  padding-top:20px;
  position: relative;
  top:-1pc;
  margin-left: 5%;
  width:30%;
  padding-bottom:30px;
}
.main_button{

  border: 1px white solid;
  border-radius:1px;
  padding: 15px;
  margin-left:12%;
  color: white;
  font-family: 'Montserrat',verdana;
  -webkit-transition:0.3s;
}
.main  a{
  text-decoration: none;
}
.black{
  color: black;

}

  .main:before {
    z-index:-1;
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
	opacity: .6;
  }

.main_button:hover{
  background-color: white;
  border-color: white;
  color: black;
  font-weight: 800;
}
.main_2{
  position: relative;
  width:100%;
  top:0;
  left:-60px;
  padding: 20px;
  color:#7f8c8d;
  font-family: 'Quicksand',verdana;
  display: inline-block;
}

.main_2 h1{
  font-family: 'Roboto',verdana;
  font-size: 2pc;
  }
  .box{
    list-style-type: none;
    text-decoration: none;
    width:30%;
    padding: 20px;
    border-left: 2px dashed #7f8c8d;
  display: inline-block;
    float:right;
    -webkit-transition:0s;
  }
  .box:hover{
    color: black;
    text-transform:scale(1.3);
  }
  .box_1{
    border-left:none;
  }

.question{
  position: relative;
  font-family: 'Montserrat',verdana;
  background-image:url(jj.jpg);
  background-size:cover;
  color:white;
  width:101.5%;
  left:-10px;
  font-weight: 800;
  padding:200px;
  height:60vh;

}
.question h1{
  padding: 30px;
  font-size: 6pc;
}

.about{
  text-align: center;
  position: relative;
  width:101.9%;
  left:-75px;top:0px;
  background-color: #ecf0f1;
  padding: 30px;
  margin-left:5%;
  font-family: 'Montserrat',verdana;
  padding:10pc;
}
.about h1{
  font-size: 3pc;
  font-family: 'Open Sans',verdana;
}
.about p{
  width:50%;
  font-family: 'Quicksand',verdana;
  font-size: 1pc;
  padding-bottom: 150px;
}
.about div{
   opacity:0;
  transform:translateY(-40px);
  transition:all 0.7s ease-in-out;
}
.about div.is-showing{
  opacity:1;
  transform:translateY(0px);
}
.containers{
  position: relative;


  display: inline-block;


}
.container1{
  float: ;

  display: inline-block;
  font-family: 'Open Sans', verdana;
  color: white;
  background-color: rgba(192, 57, 43,1.0);
  padding: 20px;

}
.speculation,.scope{
  position: relative;
  top:-10pc;
  box-shadow: 10px;
  width: 37%;
  padding: 50px;
  display: inline-block;

}
.speculation{
  margin-right: 10%;
  border-spacing: 10px;
}
#contact{
	width:101.5%;
	padding: 50px;
}
#contact h1{
	padding-bottom:100px;
}
.c2{
	margin-left: 10%;
}
footer{
	color: white;
	font-family: 'Quicksand',verdana;
	position: relative;
	top:10;left:-10px;bottom:-10px;
	width:101.5%;
	background: #34495e;
	padding:50px;
}

.text_one{
  opacity:0;
  position:relative;
  transform:translateY(-20px);
  transition:all 0.6s ease-in-out;
}
.text_one.is-showing{
  opacity:1;
  transform:translateY(0px);
}
.link_one{
  opacity:0;
  position:relative;
  transform:translateY(-20px);
  transition:all 0.6s ease-in-out;
}

.link_one.is-showing{
  opacity:1;
  transform:translateY(0px);
}
.boxwrap_1{
  opacity:0;
  position:relative;
  transform:translateX(-40px);
  transition:all 0.4s ease-in-out;
}
.boxwrap_1.is-showing{
  opacity:1;
  transform:translateX(0px);
}
.boxwrap_2{
  opacity:0;
  position:relative;
  transform:translateX(-40px);
  transition:all 0.4s ease-in-out;
}
.boxwrap_2.is-showing{
  opacity:1;
  transform:translateX(0px);
}
.boxwrap_3{
  opacity:0;
  position:relative;
  transform:translateX(-40px);
  transition:all 0.4s ease-in-out;
}
.boxwrap_3.is-showing{
  opacity:1;
  transform:translateX(0px);
}
.dot{
  margin-left:-230px;
}
.speculation div{
    opacity:0;
  position:relative;
  transform:translateY(-40px);
  transition:all 0.6s ease-in-out;
}
.speculation div.is-showing{
  opacity:1;
  transform:translateY(0px);
}
.scope div{
    opacity:0;
  position:relative;
  transform:translateY(-40px);
  transition:all 0.6s ease-in-out;
}
.scope div.is-showing{
  opacity:1;
  transform:translateX(0px);
}
.question div{
  opacity:0;
  position:relative;
  transform:translateX(-40px);
  transition:all 0.6s ease-in-out;
}
.question div.is-showing{
  opacity:1;
  transform:translateX(0px);
}
.question1 div{
  opacity:0;
  position:relative;
  transform:translateX(0px);
  transition:all 0.6s ease-in-out;
}
.question1 div.is-showing{
  opacity:1;
  transform:translateY(0px);
}
.question1{
  background-color:#000;
  height:61.5vh;
  margin-top:-562px;
  margin-right:-200px;
  margin-left:475px;
}
#contact div{
  opacity:0;
  position:relative;
  transform:translateY(20px);
  transition:all 1s ease-in-out;
}
#contact div.is-showing{
  opacity:1;
  transform:translateY(0px);
}
#contact{
  margin-top:-50px;
}
